<h1>StaticPages#home</h1>
<div class="center hero-unit">
  <h1>Welcome to Home page</h1>
   <h2>    This is the home page for the  diary.</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
<img alt="Rails" src="/assets/tag.jpg" />
